body {
	margin: 0;
}

.navbar {
	background: white;
	width: 100%;
	height: 8vw;
	padding-bottom: 1%;
}

.navbar-logo {
	width: 23%;
	padding: 2.5vw 0vw 2.5vw 2.5vw;
}

.navbar-links {
	float: right;
	margin-top: 5vw;
	margin-right: 3vw;
	padding-top: 2.5vw;
}

.navbar-text {
	font-size: 2.5vw;
	font-family: "Crimson Text";
	color: black;
	text-decoration: none;
	padding: 0vw 1vw 1vw 1vw;
}

.navbar-text:hover {
	color: #0f53c1;
}

.navbar-text:active {
	color: #0f53c1;
}


.banner {
	background-image: url(../images/logo.png);
	background-position: center;
	background-repeat: no-repeat;
	//background-attachment: fixed;
	background-size: cover;
	height: 28vw;
	margin-top: 5vw;
}

.content {
	margin: 0vw 10vw 0vw 10vw;
}

h1 {
	text-align: center;
	font-family: "Crimson Text";
	font-weight: 250;
	//text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.88);
}

h2 {
	text-align: center;
	font-family: "Crimson Text"
}

h3 {
	font-family: "Crimson Text"
	font-size: calc(50% + 1vw);
	font-weight: bolder;
	text-decoration: underline;
}

h4 {
	font-family: "Crimson Text";
	font-size: calc(35% + 1vw);
}

p {
	font-family: "Crimson Text"
	font-size: calc(35% + 2vw);
}

li {
	padding: 0.5vw 0vw 0.5vw 0vw;
	font-family: "Crimson Text";
	font-size: calc(30% + 1.75vw);
}

.box {
    display: grid;
    grid-template-areas:
      "text"
      "image";
  }

  .box-text {
    grid-area: text;
  }

  .box-image {
    grid-area: image;
    width: 100%;
		-webkit-box-shadow: 2px 2px 5px 2px rgba(158,156,158,1);
		-moz-box-shadow: 2px 2px 5px 2px rgba(158,156,158,1);
		box-shadow: 2px 2px 5px 2px rgba(158,156,158,1);
  }

.image {
	display: block;
	width: 90%;
	margin-top: 3vw;
	margin-right: auto;
	margin-bottom: 3vw;
	margin-left: auto;
	-webkit-box-shadow: 2px 2px 5px 2px rgba(158,156,158,1);
	-moz-box-shadow: 2px 2px 5px 2px rgba(158,156,158,1);
	box-shadow: 2px 2px 5px 2px rgba(158,156,158,1);
}

.image-small {
	display: block;
	width: 100%;

}

.polaroid {
	display: block;
	width: 75%;
	margin-top: 3vw;
	margin-right: auto;
	margin-bottom: 3vw;
	margin-left: auto;
	-webkit-box-shadow: 2px 2px 5px 2px rgba(158,156,158,1);
	-moz-box-shadow: 2px 2px 5px 2px rgba(158,156,158,1);
	box-shadow: 2px 2px 5px 2px rgba(158,156,158,1);
}

.caption-text {
	font-family: ubuntu;
	font-size: 2.25vw;
	text-align: center;
	padding-bottom: 4%;
}

.grid, .grid-2images {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
	align-items: center;
}

.wrapper {
	-webkit-box-shadow: 2px 2px 5px 2px rgba(158,156,158,1);
	-moz-box-shadow: 2px 2px 5px 2px rgba(158,156,158,1);
	box-shadow: 2px 2px 5px 2px rgba(158,156,158,1);
}

.grid img {
	border: 4px solid black;
	border-radius: 5px;
	max-width: 80%;
	margin: auto;

}

.grid-2images img {
	max-width: 100%;
}

.gallery-image-caption {
	margin: 1% auto;
	font-size: 3vw;
	text-align: center;
}

hr {
	margin: 6vw 0vw;
	border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

footer {
	text-align: center;
	background: #c4c9d1;
	font-size: 2vw;
	width: 100%;
	height: 20vw;
}

.footer-text {
	padding-top: 8.5vw;
	font-family: "Verdana";
	font-size: calc(25% + 1.25vw);
}
